.plandex/
.plandex-dev/
.plandex-v2/
.plandex-dev-v2/
.envkey
.env
.env.*
plandex
plandex-dev
plandex-server
*.exe
node_modules/
/tools/
/static/
/infra/
/payments-dashboard/
.DS_Store
.goreleaser.yml
dist/

.aider.*
*.code-workspace

__pycache__/